:root{
   
    --main-color: royalblue;
    --secondary-color:orangered;
    --green: #27ae60;
    --black: #333;
    --white: #fff;
    --light-bg-color: #f2f3f5;
    --border-color: #e5e8ec;
   
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --coolor: #6ea1e9;
    --blueViolet: blueviolet;
    --beautiful: #6e25f5;
    /* color: rgb(9, 240, 163) */
}
#visit-cont{
    margin-top: 10px;
}
#visit-cont .num-dis{
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
}
#visit-cont .num-dis label{
    display: flex;
    align-items: baseline;
}
#visit-cont .num-dis label span{
    font-size: 1.2rem;
    color: var(--text-grey);
    padding-right: .5rem;
}
#visit-cont .num-dis .total-cont strong{
    background: var(--coolor);
    border-radius: 20px;
    padding: .3rem;
    font-size: 1.2rem;
    color: var(--white);
}
#visit-cont .num-dis .date-cont strong{
    color: var(--main-color);
}


.search-container .other-sort{
    display: flex;
    align-items: center;
    }
    .search-container .other-sort .select-wrapper{
    border: 1px solid var(--coolor);
    display: flex;
    } 

    #outer-table{
        background: var(--white);
        padding: .3rem;
        margin: 0 auto;
        width: 100%;
        margin-top: 10px;
      } 
      #outer-table .table-container{
      width: 100%;
      overflow-x: auto;
        max-height: 600px;
        overflow-y: auto;
      /* min-width: 600px; */
      }
       
      #outer-table .table-container table{
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
         min-width: 600px;
      }
      #outer-table .table-container table td{
       border: 1px solid var(--border-color);
      }
      
      #outer-table .table-container table tbody tr{
       cursor: pointer;
      
      }
      #outer-table .table-container table tbody tr td{
      padding: .2rem;
      }
      #outer-table .table-container table tbody tr:hover{
       /* background: var(--coolor); */
       background: rgba(65,105,255, 0.2);
      }
      
      #head-1{
       width: 20%;
      }
      #head-2{
        width: 10%;
      }
      #head-3{
        width: 10%;
      }
      #head-4{
        width: 20%;
      }
      #head-5{
        width: 20%;
      }
      #head-6{
        width: 20%;
      }
      
      
      
      
      #match-1{
        width: 20%;
      }
      #match-2{
        width: 10%;
      }
      #match-3{
        width: 10%;
      }
      #match-4{
        width: 20%;
      }
      #match-5{
        width: 20%;
      }
      #match-6{
        width: 20%;
      }
      #no-det{
        background: var(--text-grey);
        width: fit-content;
        border-radius: 10px;
        margin: 0 auto;
      }
      #no-det h3{
        color: var(--beautiful);
        text-align: center;
        padding: .5rem;
        }



        /* pop ups */
        
        #Show-pat-invo-card{
            background: rgba(65,105,255, 0.3);
            padding: 0rem;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99999;
          margin: auto;
          display: none;
          }

  #Show-pat-invo-card.active{
    display: initial;
  }
  #Show-pat-invo-card .field-form{
     width: 50%;
      background-color: var(--white); 
     margin: 0 auto;
     padding: .1rem;
     border-radius: 10px;
     border: 1px solid var(--black);
   }
 
  #Show-pat-invo-card .field-form #canel-field-form{
    float: right;
    padding: .6rem;
    border-radius: 10px;
  }
  #Show-pat-invo-card .field-form #canel-field-form:hover{
      background: var(--border-color);
  }
  #Show-pat-invo-card .field-form h2{
    margin-top: 1rem;
      color: var(--main-color);
      text-align: center;
  }
  #Show-pat-invo-card .field-form .main-container{
   width: 100%;
   overflow-y: auto;
   max-height: 550px;
   padding: 1rem;
  } 


  /* @end */
  /* inner invoice */
  #invoice{
    position: relative;
    
}
#invoice .invo-head-det{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px groove var(--beautiful);
}
.left-sec-head h1{
color: var(--main-color);
}
.left-sec-head label{
    display: flex;
}
.left-sec-head label span{
    padding-left: .5rem;
}
.right-sec-head{
    display: flex;
}
.right-sec-head i{
    font-size: 2rem;
    padding-right: .5rem;
    color: var(--beautiful);
}


.invo-pat-intro-det{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-top: 1px groove var(--beautiful);  
}
.left-sec-intro label{
    display: flex;
    align-items: baseline;
}
.left-sec-intro label h1{
    color: var(--main-color);
}
.left-sec-intro label span{
    padding-left: .5rem;
}


.right-sec-intro label h1{
    color: crimson;
}


.right-sec-intro label{
    display: flex;
    align-items: baseline;
}
.right-sec-intro label span{
    padding-left: .5rem;
}
#invoice .invo-table-container{
width: 100%;
margin: 0 auto;
margin-bottom: 10px;
}

#invoice .invo-table-container table{
    border-collapse: collapse;
    width: 100%;

}
#invoice .invo-table-container table td{
  
    border: 1px solid var(--color-dark);
    padding: .2rem;
 }

 #match-1-inf{
    text-align: right;
 }
 #man-water-mark{
    position: relative;
    bottom: 0;
 }
 #man-water-mark label span{
    color: var(--main-color);
 }
 #man-water-mark label i{
    padding-left: .25rem;
    padding-right: .25rem;
 }

#stamp{
    margin-top: 20px;
}
.btn-opp button{
    background: var(--main-color);
    padding: .5rem 1rem;
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 5px;
}

@media print{
    body *{
        visibility: hidden;
    }
    #invoice, #invoice *{
    visibility: visible;
    } 
    #invoice{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }


    #man-water-mark{
        position: fixed;
        bottom: 0;
     }
}