:root{
   
    --main-color: royalblue;
    --secondary-color:orangered;
    --green: #27ae60;
    --black: #333;
    --white: #fff;
    --light-bg-color: #f2f3f5;
    --border-color: #e5e8ec;
   
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --coolor: #6ea1e9;
    --blueViolet: blueviolet;
    --beautiful: #6e25f5;
    /* color: rgb(9, 240, 163) */
} 
.auto-list-cont{
    position: relative;
}
.auto-list-cont .search-auto-list{
background: var(--white);
position: absolute;
width: 80%;
border: 1px solid var(--color-dark);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: .4rem;
display: none;

}
.list-container{
    max-height: 500px;
    overflow-y: auto; 
}
.single-result{
    padding: .3rem;
    cursor: pointer;
    background: var(--light-bg-color);
    margin-top: .5rem;
    border-radius: 5px;
}
.single-result:hover{
   background: var(--coolor);
}
#over-view-note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.invoice-exist{
    width: 55%;
    background: var(--white);
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    padding: .5rem;
}
.inv-pat-det{
    width: 42%;
    background: var(--white);
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    padding: .5rem;
}
.inv-det{
    margin-bottom: .5rem;
}
.pat-det h4,
.inv-det h4{
color: crimson;
}
.pat-det p strong,
.inv-det p strong{
    color: var(--main-color);
}
.invoice-exist .table-container{
    width: 100%;
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
    /* min-width: 600px; */
    }
    .invoice-exist .table-container table{
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
         min-width: 500px;
      }
      .invoice-exist .table-container table td{
        border: 1px solid var(--border-color);
        /* font-size: 13px;
        padding: 10px; */
       }
       .invoice-exist .table-container table tbody tr{
        cursor: pointer;
       
       }
       .invoice-exist .table-container table tbody tr td{
       padding: .2rem;
       }
       .invoice-exist .table-container table tbody tr:hover{
        /* background: var(--coolor); */
        background: rgba(65,105,255, 0.2);
       }
       .invoice-exist .table-container table thead tr{
      color: var(--coolor);
       }
       #head-1-s{
        width: 60%;
       }
       #head-2-s{
         width: 10%;
       }
       #head-3-s{
         width: 10%;
       }
       #head-4-s{
         width: 20%;
       }


       
       
       
       .match-1-s{
        width: 60%;
       }
       .match-2-s{
        width: 10%;
       }
       .match-3-s{
        width: 10%;
       }
       .match-4-s{
        width: 20%;
        text-align: center;
       }
       .match-4-s .delete{
        color: crimson;
       }
       .match-4-s .edit{
        color: var(--green);
        padding-left: .5rem;
       }

       /* #match-6{
         width: 15%;
         font-size: .8rem;
         color: crimson;
       } */
       
       .match-2-s p{
         overflow: hidden;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;
         white-space: wrap;
       }

       #no-det h3{
        color: crimson;
        text-align: center;
        padding: .5rem;
        }
        .print-btn button{
            padding: .4rem .9rem;
            color: white;
            background: var(--green);
            cursor: pointer;
        }
        .print-btn button:hover{
            opacity: .7;
        }



        .table-cont{
   
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            /* width: 97%; */
            border-radius: 10px;
            background: var(--white);
            padding: 1rem;
            overflow-x: auto;
        }
        .table-cont table{
            border-collapse: collapse;
            width: 100%;
        }
        .table-cont table td{
            /* width: 100%; */
            border: 1px solid var(--border-color);
            font-size: 13px;
            padding: 10px;
         }
        
         .table-cont table td input[type="text"]{
            border: 1px solid var(--color-dark);
            background: var(--light-bg-color);
            color: var(--color-dark);
            height: 30px;
            width: 300px;
            border-radius: 10px;
         }
         .table-cont table td input[type="number"]{
            background: var(--light-bg-color);
            color: var(--color-dark);
            height: 30px;
            border-radius: 10px;
         }
         .table-cont table tbody td input[type="button"]{
        color: var(--white);
        background: crimson;
        padding: .5rem;
        border-radius: 10px;
         }
         .table-cont table tfoot td input[type="button"]{
        color: var(--white);
        background: var(--main-color);
        padding: .5rem 1rem;
        border-radius: 10px;
         }
         #text-align{
            text-align: right;
         }
         #save-btn{
            padding: .3rem .8rem;
            color: var(--white);
            background: crimson;
            margin-top: 10px;
            font-size: 1.3rem;
            border-radius: 10px;
            /* float: right; */
         }

         /* pop ups */


         #Show-pat-invo-card{
           background: rgba(65,105,255, 0.3);
           padding: 0rem;
           position: fixed;
           top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           z-index: 99999;
         margin: auto;
         display: none;
         }
 /* #Show-pat-invo-card, */
 #Edit-pat-invo-card{
   background: rgba(65,105,255, 0.3);
   padding: 1rem;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 99999;
 margin: auto;
 display: none;
 } 
 #Show-pat-invo-card.active,
 #Edit-pat-invo-card.active{
   display: initial;
 }    
 #Show-pat-invo-card .field-form{
    width: 60%;
     background-color: var(--white); 
    margin: 0 auto;
    padding: .1rem;
    border-radius: 10px;
    border: 1px solid var(--black);
  }
 #Edit-pat-invo-card .field-form{
   width: 50%;
    background-color: var(--white); 
   margin: 0 auto;
   padding: .1rem;
   border-radius: 10px;
 }
 #Show-pat-invo-card .field-form #canel-field-form,
 #Edit-pat-invo-card .field-form #canel-field-form{
   float: right;
   padding: .6rem;
   border-radius: 10px;
 }
 #Show-pat-invo-card .field-form #canel-field-form:hover,
 #Edit-pat-invo-card .field-form #canel-field-form:hover{
     background: var(--border-color);
 }
 #Show-pat-invo-card .field-form h2,
 #Edit-pat-invo-card .field-form h2{
   margin-top: 1rem; 
     color: var(--main-color);
     text-align: center;
 }
 #Show-pat-invo-card .field-form .main-container,
 #Edit-pat-invo-card .field-form .main-container{
  width: 100%;
  overflow-y: auto;
  max-height: 550px;
  padding: 1rem;
 }
 .main-par{
    border: 1px solid var(--main-color);
 }


 .field-form .input-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
}
.field-form .input-wrapper select,
.field-form .input-wrapper input{
      padding: .2rem;
      border: 1px solid var(--text-grey);
      width: 100%;
      height: 100%;
      font-size: 1rem;
      color: var(--green);
}
.field-form .input-wrapper textarea{
 resize: vertical;
 border: 1px solid var(--main-color);
 height: 100px;
 padding: .5rem;
 color: var(--color-dark);
}
.field-form .input-wrapper label{
  font-size: 1rem;
  color: var(--main-color);
}
.btn-wrapper {
margin-top: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.btn-wrapper .save-btn{
padding: .5rem 1rem;
color: var(--white);
background: var(--main-color);
border-radius: 5px;
}





 .message-dis{
    display: none;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0px 0px 15px var(--green);
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    padding: .2rem;
    }
    .message-dis.active{
        display: none;
        }
        .message-dis p{
          color: var(--green);
          font-size: 1.2rem;
        }
        .message-dis label i{
        font-size: 1.2rem;
        color: var(--green);
        }
    
        .message-dis-err{
            display: none;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 0px 15px crimson;
            background: var(--white);
            border-radius: 5px;
            margin: 0 auto;
            width: 90%;
            padding: .2rem;
            }
            .message-dis-err.active{
                display: none;
                }
                .message-dis-err p{
                  color: crimson;
                  font-size: 1.2rem;
                }
                .message-dis-err label i{
                font-size: 1.2rem;
                color: crimson;
                }
    
    /* @ends */
/* invoice Styling */
#invoice{
    position: relative;
    
}
#invoice .invo-head-det{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px groove var(--beautiful);
}
.left-sec-head h1{
color: var(--main-color);
}
.left-sec-head label{
    display: flex;
}
.left-sec-head label span{
    padding-left: .5rem;
}
.right-sec-head{
    display: flex;
}
.right-sec-head i{
    font-size: 2rem;
    padding-right: .5rem;
    color: var(--beautiful);
}


.invo-pat-intro-det{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-top: 1px groove var(--beautiful);  
}
.left-sec-intro label{
    display: flex;
    align-items: baseline;
}
.left-sec-intro label h1{
    color: var(--main-color);
}
.left-sec-intro label span{
    padding-left: .5rem;
}


.right-sec-intro label h1{
    color: crimson;
}


.right-sec-intro label{
    display: flex;
    align-items: baseline;
}
.right-sec-intro label span{
    padding-left: .5rem;
}
#invoice .invo-table-container{
width: 100%;
margin: 0 auto;
margin-bottom: 10px;
}

#invoice .invo-table-container table{
    border-collapse: collapse;
    width: 100%;

}
#invoice .invo-table-container table td{
  
    border: 1px solid var(--color-dark);
    padding: .2rem;
 }

 #match-1-inf{
    text-align: right;
 }
 #man-water-mark{
    position: relative;
    bottom: 0;
 }
 #man-water-mark label span{
    color: var(--main-color);
 }
 #man-water-mark label i{
    padding-left: .25rem;
    padding-right: .25rem;
 }

#stamp{
    margin-top: 20px;
}


/* table style */
#outer-table{
    background: var(--white);
    padding: .3rem;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
  } 
  #outer-table .table-container{
  width: 100%;
  overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
  /* min-width: 600px; */
  }
   
  #outer-table .table-container table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
     min-width: 600px;
  }
  #outer-table .table-container table td{
   border: 1px solid var(--border-color);
  }
  
  #outer-table .table-container table tbody tr{
   cursor: pointer;
  
  }
  #outer-table .table-container table tbody tr td{
  padding: .2rem;
  }
  #outer-table .table-container table tbody tr:hover{
   /* background: var(--coolor); */
   background: rgba(65,105,255, 0.2);
  }
   
  #head-1{
   width: 20%;
  }
  #head-2{
    width: 10%;
  }
  #head-3{
    width: 10%;
  }
  #head-4{
    width: 20%;
  }
  #head-5{
    width: 20%;
  }
  #head-6{
    width: 20%;
  }
  
  
  
  
  #match-1{
    width: 20%;
  }
  #match-2{
    width: 10%;
  }
  #match-3{
    width: 10%;
  }
  #match-4{
    width: 20%;
  }
  #match-5{
    width: 20%;
  }
  #match-6{
    width: 20%;
  }
  #no-det-invo{
    background: var(--text-grey);
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto;
  }
  #no-det-invo h3{
    color: var(--beautiful);
    text-align: center;
    padding: .5rem;
    }

    .search-container .other-sort{
        display: flex;
        align-items: center;
        }
        .search-container .other-sort .select-wrapper{
        border: 1px solid var(--coolor);
        display: flex;
        }

        .btn-opp button{
          background: var(--main-color);
            padding: .5rem 1rem;
            color: var(--white);
            font-size: 1.2rem;
            border-radius: 5px;
        }
      

@media(max-width: 920px){
    #over-view-note{
    flex-direction: column;
    }
    .invoice-exist{
        width: 100%;
     margin-top: 10px;
    }
    .inv-pat-det{
        width: 100%;
      margin-top: 10px;
    }  
}

@media print{
    body *{
        visibility: hidden;
    }
    #invoice, #invoice *{
    visibility: visible;
    } 
    #invoice{
        position: absolute;
        /* position: relative; */
        left: 0;
        right: 0;
        top: 0;
        overflow-y: visible;
        page-break-inside: avoid;
    }
/* .invo-table-container table tr{
    
    page-break-inside: avoid;
} */

    #man-water-mark{
        position: fixed;
        bottom: 0;
     }
}